rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {

        match /wallets/{wallet} {
            allow create: if isSignedIn(request);
            allow read, write: if isOwner(request , resource.data);

            match /transactions/{transaction} {
                allow create, read, write: if true;
            }

            match /categories/{category} {
                allow create, read, write: if true;
            }
        }

        match /privateLoans/{loan} {
            allow create: if true;
            allow read, write: if isSignedIn(request) && (resource.data.lenderUid == request.auth.uid || resource.data.borrowerUid == request.auth.uid);
        }

        match /usersPreferences/{userId} {
            allow create, write: if false;
            allow read: if isSignedIn(request) && request.auth.uid == userId;
        }

        function isOwner(request, wallet) {
            return isSignedIn(request) && request.auth.uid in wallet.ownersUid;
        }

        function isSignedIn(request) {
            return request.auth != null && request.auth.uid != null;
        }
    }
}